.resume-btn {
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  margin-top: 50px;
  margin-right: 250px;
  font-size: 16px;
  font-weight: 600;
  color: hsl(0, 12%, 93%);
  background-color:  #111111;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.resume-btn:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}
