.contact-section {
  background-color: #000;
  min-height: 100vh;
  padding: 60px 20px;
  color: #fff;
  margin-bottom: 10px;
}
.contact-section h1{
 margin-bottom: 40px;
 margin-left: 50px;
 
}
.contact-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 40px;
}

/* LEFT SIDE */
.contact-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-box {
  display: flex;
  gap: 15px;
  background: #111;
  padding: 15px;
  border-radius: 10px;
}

.icon {
  font-size: 24px;
  background: #0d6efd;
  color: #fff;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.info-box h4 {
  margin: 0;
}

.info-box p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #ccc;
}

.map {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  border: none;
}

/* RIGHT SIDE */
.contact-form {
  background: #111;
  padding: 30px;
  border-radius: 12px;
}

.contact-form .row {
  display: flex;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  background: #000;
  border: 1px solid #333;
  color: #fff;
  border-radius: 6px;
  margin-bottom: 15px;
}

.contact-form textarea {
  height: 120px;
  resize: none;
  margin-right: 200px;
}

.contact-form button {
  background: #0d6efd;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  display: block;
  margin: auto;
  font-size: 16px;
}

.contact-form button:hover {
  background: #0b5ed7;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

