.projects-section {
  background-color: hsl(180, 3%, 7%); 
}

.project-card {
  background: hsl(0, 2%, 10%);
  border-radius: 18px;
  width: 100px;
  padding: 50px;
  height: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
}


.project-img-wrapper {
  background: hsl(0, 0%, 8%);
  border-radius: 14px;
  padding: 12px;
  margin-bottom: 15px;
}

.project-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.project-body h5 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #0f0f0f;
  
}

.project-body p {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 10px;
 
}
 