.profile-section {
  background: #0a0a0a;
  padding: 100px;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 100px;
  max-width: 1200px;
  margin: auto;
}

/* Image */
.profile-image img {
  width: 300px;
  height: 380px;
  object-fit: cover;
  border-radius: 18px;
  background: #8fd3f4;
}
.profile-image:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow:
    0 18px 40px rgba(0, 0, 0, 0.9),
    0 0 18px rgba(0, 255, 255, 0.25);
}
/* Content */
.profile-content p {
  color: #fff;
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 10px;
}

.profile-content span {
  color: #00e5ff;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    text-align: center;
  }
}
