.skill-card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(241, 241, 241, 0.15);
}

.skill-img {
  width: 100%;   
  height: 100%;   
  object-fit: contain;
  background: hsl(0, 0%, 8%);
  
}
.skill-body h2{
  color: rgb(236, 233, 233);
}

